<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout/Layout}">
<head>
  <title>Quản lý câu hỏi</title>
</head>
<body>
  <section layout:fragment="content">
    <div class="container-fluid" ng-controller="ProducerController">
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Quản lý câu hỏi</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Danh sách câu hỏi</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Sản phẩm</th>
                      <th>Câu hỏi</th>
                      <th>Khách hàng</th>
                      <th>Thời điểm</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat = "obj in data">
                      <td>{{ obj.product.name }}</td>
                      <td>{{ obj.topic }}</td>
                      <td>{{ obj.customer.name }}</td>
                      <td>{{ obj.createdAt | date:"MM/dd/yyyy" :'UTC' }}</a></td>
                      <td align="center">
	                      <a href="#" ng-click="modal('edit',obj.id)" class="btn btn-warning" title="Trả lời câu hỏi" />
	                      <i class="fas fa-edit"></i>
	                      </a>
	                      <!-- <a href="#" ng-click="confirmDelete(obj.id)" class="btn btn-danger" title="Xóa câu hỏi">
	                      <i class="fas fa-trash"></i>
	                      </a> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">{{frmTitle}}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form name="frmobj" class="form-horizontal">
							<div class="form-group">
								<label for="name" class="col-form-label">Câu hỏi:</label>
								<input type="text" class="form-control" id="name" name="name" ng-model="obj.topic" readonly/>
							</div>
							<div class="form-group">
								<label for="name" class="col-form-label">Sản phẩm:</label>
								<input type="text" class="form-control" id="name" name="name" ng-model="obj.product.name" readonly />
							</div>
							<div class="form-group">
								<label for="name" class="col-form-label">Trả lời:</label><span id="helpBlock2" class="help-block" ng-show="frmobj.name.$error.required">*</span>
								<input type="text" class="form-control" id="name" name="name" ng-model="obj.replyFirst" ng-required="true"/>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" ng-disabled="frmobj.$invalid" ng-click="save(state,obj.id)">Gửi</button>
					</div>
				</div>
			</div>
		</div>
	</div>
        
  </section>
  <section layout:fragment="script">
  	<script th:src="@{/app/question.js}"></script>
  </section>
</body>
</html>