<footer layout:fragment="footer" class="section-footer bg-secondary">
	<div class="container">
		<section class="footer-top padding-top">
			<div class="row">
				<aside class="col-sm-3 col-md-3 white">
					<h5 class="title">Dịch vụ khách hàng</h5>
					<ul class="list-unstyled">
						<li> <a th:href="@{/}">Câu hỏi thường gặp</a></li>
						<li> <a th:href="@{/}">Chính sách & đổi trả</a></li>
						<li> <a th:href="@{/}">Giải quyết khiếu nại </a></li>
					</ul>
				</aside>
				<aside class="col-sm-3 col-md-3 white">
					<h5 class="title">Dành cho người bán hàng</h5>
					<ul class="list-unstyled">
						<li> <a th:href="@{/}">Hướng dẫn mở Shop</a></li>
						<li> <a th:href="@{/}">Chính sách bán hàng</a></li>
						<li> <a th:href="@{/}">Quy định bán hàng </a></li>
					</ul>
				</aside>
				<aside class="col-sm-3  col-md-3 white">
					<h5 class="title">Tài khoản</h5>
					<ul class="list-unstyled">
						<li> <a th:href="@{/}"> Đăng nhập </a></li>
						<li> <a th:href="@{/}"> Đăng ký </a></li>
						<li> <a th:href="@{/}"> Cài đặt tài khoản </a></li>
						<li> <a th:href="@{/}"> Đơn hàng </a></li>
					</ul>
				</aside>
				<aside class="col-sm-3  col-md-3 white">
					<h5 class="title">Về chúng tôi</h5>
					<ul class="list-unstyled">
						<li> <a th:href="@{/}"> Giới thiệu </a></li>
						<li> <a th:href="@{/}"> Điều khoản sử dụng </a></li>
						<li> <a th:href="@{/}"> Quy chế hoạt động Sàn GDTMĐT </a></li>
						<li> <a th:href="@{/}"> Quảng cáo </a></li>
					</ul>
				</aside>
				<aside class="col-sm-3">
					<article class="white">
						<h5 class="title">Liên lạc:</h5>
						<p>
							<strong>Phone: </strong> +123456789 <br> 
							<strong>Fax:</strong> +123456789
						</p>

						<div class="btn-group white">
							<a class="btn btn-facebook" title="Facebook" target="_blank" th:href="@{/}"><i class="fab fa-facebook-f  fa-fw"></i></a>
							<a class="btn btn-instagram" title="Instagram" target="_blank" th:href="@{/}"><i class="fab fa-instagram  fa-fw"></i></a>
							<a class="btn btn-youtube" title="Youtube" target="_blank" th:href="@{/}"><i class="fab fa-youtube  fa-fw"></i></a>
							<a class="btn btn-twitter" title="Twitter" target="_blank" th:href="@{/}"><i class="fab fa-twitter  fa-fw"></i></a>
						</div>
					</article>
				</aside>
			</div>
			<br> 
		</section>
		<section class="footer-bottom row border-top-white">
			<div class="col-sm-6"> 
				<p class="text-white-50"> Made with <3 <br>  by Vosidiy M.</p>
				</div>
				<div class="col-sm-6">
					<p class="text-md-right text-white-50">
						Copyright &copy  <br>
						<a href="http://bootstrap-ecommerce.com" class="text-white-50">Bootstrap-ecommerce UI kit</a>
					</p>
				</div>
		</section>
	</div>
</footer>
<!-- End of Footer -->