<header layout:fragment="header" class="section-header">
	<nav class="navbar navbar-top navbar navbar-expand-lg navbar-light">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" th:href="@{/}"><img class="logo" th:src="@{/images/logos/logo.png}" height="400" width="130"></a>
			<div class="collapse navbar-collapse" id="navbarTop">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/}">Trang chủ</a>
					</li>
					<li sec:authorize="!hasRole('ROLE_STORE')" class="nav-item">
						<a class="nav-link" th:href="@{/tro-thanh-nha-ban-hang}">Trở thành nhà bán hàng</a>
					</li>
					<li sec:authorize="hasRole('ROLE_STORE') || hasRole('ROLE_EXPIRED')" class="nav-item">
						<a class="nav-link" th:href="@{/dang-ky-thanh-vien}">Gia hạn cửa hàng</a>
					</li>
					<li sec:authorize="hasRole('ROLE_STORE')" class="nav-item">
						<a class="nav-link" th:href="@{/store/thong-ke}">Quản lý cửa hàng</a>
					</li>
					<li class="menu-mobi nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Danh mục</a>
						<ul class="dropdown-menu" >
							<!-- <li><a class="dropdown-item" href="#">Trade Assurance </a></li> -->
							<ul class="menu-category">
								<li ng-repeat="category in categories" ng-include="'categoryTree'"></li>
								<script type="text/ng-template" id="categoryTree">
									<a th:href="@{/tim-kiem?cate={{category.id}}}" ng-click="getCate(category.id)" >{{ category.name }}</a>
									<ul ng-if="category.categories" class="submenu">
										<li ng-repeat="category in category.categories" ng-include="'categoryTree'">     
										</li>
									</ul>
								</script>
							</ul>
						</ul>
					</li>

				</ul>
				<ul class="navbar-nav">
					<li sec:authorize="!isAuthenticated()"><a th:href="@{/dang-nhap}" class="nav-link"> Đăng nhập </a></li>
					<li sec:authorize="!isAuthenticated()"><a th:href="@{/dang-ky}" class="nav-link"> Đăng ký </a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="nav-link"> Đăng xuất </a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/quan-ly-tai-khoan}" class="nav-link"> Quản lý tài khoản </a></li>
					<li><a th:href="@{/cham-soc-khach-hang}" class="nav-link">Chăm sóc khách hàng </a></li>
				</ul> <!-- list-inline //  -->
			</div> <!-- navbar-collapse .// -->
		</div> <!-- container //  -->
	</nav>

	<section class="header-main">
		<div class="container">
			<div class="row-sm align-items-center">
				<div class="col-sm-2"></div>
				<div class="col-sm-8 col-9">
					<form th:action="@{/tim-kiem}" th:object="${product}" method="get" class="py-1">
						<div class="input-group w-100">
							<input type="text" name="name" id="name" th:value="${name}" class="form-control" style="width:50%;" placeholder="Search">
							<div class="input-group-append">
								<button class="btn btn-success" type="submit">
									<i class="fa fa-search"></i> 
								</button>
							</div>
						</div>
					</form>
				</div> <!-- col.// -->
				<div class="col-sm-2 col-3">
					<div class="float-right row">
						<div class="col">
							<a th:href="@{/gio-hang}" class="widget-header">
								<div class="icontext">
									<div class="icon-wrap"><i class="text-success icon-sm fa fa-shopping-cart"></i></div>
									<div class="text-wrap text-dark">
										<span id="countItems" class="small round badge badge-secondary">10+</span>
									</div>
								</div>
							</a>
						</div> <!-- col.// -->
					</div> <!-- widgets-wrap.// row.// -->
				</div> <!-- col.// -->
			</div> <!-- row.// -->
		</div> <!-- container.// -->
	</section> <!-- header-main .// -->
</header> <!-- section-header.// -->