<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout/Layout}">
<head>
  <title>Quản lý gói thành viên</title>
</head>
<body>
  <section layout:fragment="content">
    <div class="container-fluid" ng-controller="Controller">
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Quản lý gói thành viên</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Danh sách gói thành viên</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Tên gói thành viên</th>
                      <th>Thời hạn</th>
                      <th>Mô tả</th>
                      <th>
	                      <a href="#" class="btn btn-success" ng-click="modal('add')">
	                      	Thêm gói thành viên
	                      </a>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat = "obj in data">
                      <td>{{ obj.name }}</td>
                      <td>{{ obj.duration }} tháng</td>
                      <td>{{ obj.derciption }}</td>
                      <td align="center">
	                      <a href="#" ng-click="modal('edit',obj.id)" class="btn btn-warning" title="Chỉnh sửa thông tin gói thành viên" />
	                      <i class="fas fa-edit"></i>
	                      </a>
	                      <a href="#" ng-click="confirmDelete(obj.id)" class="btn btn-danger" title="Xóa gói thành viên">
	                      <i class="fas fa-trash"></i>
	                      </a>
                      </td>
                    </tr>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">{{frmTitle}}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form name="frmobj" class="form-horizontal">
							<div class="form-group">
								<label for="name" class="col-form-label">Tên gói thành viên:</label><span id="helpBlock2" class="help-block" ng-show="frmobj.name.$error.required">*</span>
								<input type="text" class="form-control" id="name" name="name" ng-model="obj.name" ng-required="true"/>
							</div>
							<div class="form-group">
								<label for="name" class="col-form-label">Thời hạn (tháng):</label><span id="helpBlock2" class="help-block" ng-show="frmobj.name.$error.required">*</span>
								<input type="number" class="form-control" id="name" name="name" min="1" max="12" ng-model="obj.duration" ng-required="true"/>
							</div>
							<div class="form-group">
								<label for="name" class="col-form-label">Giá (VNĐ):</label><span id="helpBlock2" class="help-block" ng-show="frmobj.name.$error.required">*</span>
								<input type="number" class="form-control" id="name" name="name" min="0" ng-model="obj.price" ng-required="true"/>
							</div>
							<div class="form-group">
								<label for="name" class="col-form-label">Mô tả:</label>
								<textarea type="text" class="form-control" id="name" name="name" ng-model="obj.derciption" ng-required="true"></textarea>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" ng-disabled="frmobj.$invalid" ng-click="save(state,obj.id)">Gửi</button>
					</div>
				</div>
			</div>
		</div>
	</div>
        
  </section>
  <section layout:fragment="script">
  	<script th:src="@{/app/member-type.js}"></script>
  </section>
</body>
</html>