<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout/Layout}">
<head>
  <title>Quản lý cửa hàng</title>
</head>
<body>
  <section layout:fragment="content">
    <div class="container-fluid" ng-controller="StoreController">
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Quản lý cửa hàng</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Danh sách cửa hàng</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Tên cửa hàng</th>
                      <th>Thông tin cửa hàng</th>
                      <th>Thông tin người sở hữu</th>
                      <th>Thời điểm đăng ký</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat = "obj in data">
                      <td>{{ obj.name }}</td>
                      <td style="width:35%">
                     	<ul>
						  <li><strong>Địa chỉ: </strong>
						  		{{ obj.address }},
						  		{{obj.ward.name}},
						  		{{obj.district.name}},
						  		{{obj.province.name}}
						  </li>
						  <li><strong>SĐT: </strong>{{ obj.phoneNumber }}</li>
						</ul>
                      </td>
                      <td style="width:35%">
                     	<ul>
						  <li><strong>Họ tên: </strong>{{obj.user.customer.gender == 1 ? 'Chị,' : 'Anh,' }} {{obj.user.customer.name}}</li>
						  <li><strong>Ngày sinh: </strong>{{obj.user.customer.birthDate  | date:"dd/MM/yyyy" :'UTC'}}</li>
						  <li><strong>Email:</strong>{{obj.user.email}}</li>
						</ul>
                      </td>
                      <td>{{ obj.createdAt | date:"dd/MM/yyyy" :'UTC' }}</a></td>
                      <td style="width:35%" align="center">
	                      <button ng-if="obj.status == 0" ng-click="duyet(obj.id,1)" class="btn btn-outline-success">Duyệt</button>
	                      <button ng-if="obj.status == 2" ng-click="moKhoa(obj.id,1)" class="btn btn-outline-warning">Mở Khóa</button>
	                      <button ng-if="obj.status == 1" ng-click="khoa(obj.id,2)" class="btn btn-outline-warning">Khóa</button>
	                      <button ng-if="obj.status == 0" ng-click="huy(obj.id,3)" class="btn btn-outline-danger">Từ chối</button>
	                      <strong ng-if="obj.status == 3">Đã bị từ chối</strong>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
    	  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">{{frmTitle}}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form name="frmobj" class="form-horizontal">
							<div class="form-group">
								<label for="name" class="col-form-label">Câu hỏi:</label>
								<input type="text" class="form-control" id="name" name="name" ng-model="obj.topic" readonly/>
							</div>
							<div class="form-group">
								<label for="name" class="col-form-label">Sản phẩm:</label>
								<input type="text" class="form-control" id="name" name="name" ng-model="obj.product.name" readonly />
							</div>
							<div class="form-group">
								<label for="name" class="col-form-label">Trả lời:</label><span id="helpBlock2" class="help-block" ng-show="frmobj.name.$error.required">*</span>
								<input type="text" class="form-control" id="name" name="name" ng-model="obj.replyFirst" ng-required="true"/>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" ng-disabled="frmobj.$invalid" ng-click="save(state,obj.id)">Gửi</button>
					</div>
				</div>
			</div>
		</div>
	</div>
        
  </section>
  <section layout:fragment="script">
  	<script th:src="@{/app/store.js}"></script>
  </section>
</body>
</html>