<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout/Layout}">
<head>
	<title>Duyệt sản phẩm nhà bán hàng</title>
</head>
<section layout:fragment="css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/css/bootstrap-select.min.css" />
	<link rel="stylesheet" th:href="@{/css/fileinput.css}">
	<style>
	.row-image{
	    display: flex;
	    flex-wrap: wrap;
	    padding: 0 4px;
	}
	.column-image{
	    flex: 25%;
	    max-width: 25%;
	    padding: 0 4px;
	}
	.column-image img{
	    margin-top: 8px;
	    vertical-align: middle;
	    width: 100%;
	}
	
	.column-image.hover-shadow {
	  transition: 0.3s;
	}
	
	.hover-shadow:hover {
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	</style>
</section>
<body>
	<section layout:fragment="content">
		<div class="container-fluid" ng-controller="ProductsController">
			<!-- Page Heading -->
			<h1 class="h3 mb-2 text-gray-800">Duyệt sản phẩm nhà bán hàng</h1>
			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<label>Chọn cửa hàng:</label>
					<select class="selectpicker" data-size="5" data-style="btn-success"
							data-live-search="true" 
							ng-model="selectedStore" 
							ng-change="getStore(selectedStore)">
						<option data-tokens="ketchup mustard" 
								ng-repeat="store in stores" 
								ng-selected="selectedStore == store.id" 
								value="{{store.id}}">
							{{store.name}}
						</option>
					</select>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Tên sản phẩm</th>
									<th ng-hide="true">Số lượng gốc</th>
									<th>Số lượng tồn</th>
									<th>Đơn giá gốc</th>
									<th>Đơn giá bán</th>
									<th>Trạng thái</th>
									<th>Thông tin chi tiết</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat = "product in products">
									<td style="width:200px">
										<a href="#">
											{{ product.name }}
										</a>
									</td>
									<td>{{ product.quantity }}</td>
									<!--<td>	
										<input type="number" style="width:auto;" min="0" ng-model="moi" class="form-control d-inline" width="10" ng-value="product.quantity - product.sold">
										<button class="btn btn-primary float-right d-inline" ng-click="thayDoiSL(product.id,$index,moi)">Lưu</button>
									</td>-->
									<td>	{{ product.price | currency:"":0}} đ</td>
									<td>	{{ product.priceNew | currency:"":0}} đ</td>
									<td align="center">
										<span ng-if="product.status == 0">Chờ duyệt</span>
										<span ng-if="product.status == 1">Đang kinh doanh</span>
										<span ng-if="product.status == 2">Ngừng kinh doanh</span>
									</td>
									<td align="center">
										<a href="#" ng-click="modalView360(product.id)" class="btn btn-info" title="Ảnh 360" />
										<i class="fas fa-sync-alt"></i>
									</a>
								</a>
								<a href="#" ng-click="modal('edit',product.id)" class="btn btn-warning" title="Chỉnh sửa thông tin sản phẩm" />
								<i class="fas fa-edit"></i>
							</a>
						</td>
					</tr>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>
<!-- /.container-fluid -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Kiểm duyệt sản phẩm</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#home">Thông tin chính</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#menu1">Đơn giá</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#menu2">Mô tả</a>
					</li>
				</ul>
				<form name="frmProduct" class="form-horizontal">
					<div class="tab-content">
						<div id="home" class="container tab-pane active"><br>
							<div class="form-group">
								<label for="name" class="col-form-label">Tên sản phẩm:</label>
								<input type="text" readonly="true" class="form-control" id="name" name="name" ng-model="product.name" ng-required="true"/>
								<span id="helpBlock2" class="help-block" ng-show="frmProduct.name.$error.required">*</span>
							</div>
							<div class="row">
								<div class="form-group col-6">
									<label class="col-form-label">Chọn danh mục</label>
									<select name="category" readonly="true" id="category" class="form-control" ng-model="product.category.id">
										<optgroup ng-repeat="cate in categories" label="{{ cate.name }}">
											<option ng-repeat="ct in cate.categories" ng-value="ct.id">{{ ct.name }}</option>
										</optgroup>
									</select>
								</div>
								<div class="form-group col-6">
									<label for="origin" class="col-form-label">Xuất xứ: </label>
									<select name="origin" readonly="true" id="origin" ng-model="product.origin.id" class="form-control"  ng-options="origin.id as origin.name for origin in origins">
									</select>
									<span id="helpBlock2" class="help-block" ng-show="frmProduct.origin.$error.required">*</span>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-6">
									<label for="material" readonly="true" class="col-form-label">Vật liệu: </label><span id="helpBlock2" class="help-block" ng-show="frmProduct.material.$error.required">*</span>
									<select name="material" readonly="true" id="material" ng-model="product.material.id" class="form-control" ng-options="material.id as material.name for material in materials">
									</select>
								</div>
								<div class="form-group col-6">
									<label for="producer" class="col-form-label">Nhà sản xuất <span id="helpBlock2" class="help-block" ng-show="frmProduct.producer.$error.required">*</span>: </label>
									<select name="producer" readonly="true" id="producer" ng-model="product.producer.id" class="form-control" ng-options="producer.id as producer.name for producer in producers">
									</select>
								</div>
							</div>
							<div ng-hide="true" class="form-group">
								<label for="quantity" class="col-form-label">Số lượng gốc:</label>
								<input type="number" readonly="true" min="0" class="form-control" id="quantity" name="quantity" ng-readonly="!anGiaBan" ng-model="product.quantity" ng-required="true" />
								<span id="helpBlock2" class="help-block" ng-show="frmProduct.quantity.$error.required">*</span>
							</div>
							<div class="form-group">
								<label for="image" class="col-form-label">Ảnh đại diện:</label>
								<input ng-hide="true" type="file" readonly="true" id="image" name="image" ng-model="product.avatar" />
								<img id="avatar" style="width:200px; height:200px" ng-src="{{anhAvatar}}" />
							</div>
						</div>
						<div id="menu1" class="container tab-pane fade"><br>
							<div class="form-group">
								<label for="price" class="col-form-label">Giá gốc:</label>
								<input type="number" readonly="true" min="{{giaban.unitPrice}}" step="500" ng-model="giagoc.unitPrice" class="form-control" id="price" name="price" ng-required="!anGiaBan" />
								<span id="helpBlock2" class="help-block" ng-show="frmProduct.price.$error.required">*</span>
							</div>
							<div class="form-group" ng-hide="anGiaBan">
								<label for="price" class="col-form-label">Giá bán:</label>
								<input type="number" readonly="true" min=0 max="{{giagoc.unitPrice}}" step="500" ng-model="giaban.unitPrice" ng-change="thayDoiGiaBan()" class="form-control" id="pricenew" name="pricenew" ng-required="!anGiaBan" />
								<span id="helpBlock2" class="help-block" ng-show="frmProduct.price.$error.required">*</span>
							</div>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th scope="col">Giá bán</th>
										<th scope="col">Ngày thêm</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="price in product.prices | orderBy:'-id'" ng-if="price.root == 0" >
										<td>{{price.unitPrice}}</td>
										<td>{{price.createdAt | date:"MM/dd/yyyy 'at' h:mma"}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div id="menu2" class="container tab-pane fade"><br>
							<div class="form-group">
								<label for="mota" class="col-form-label">Mô tả:</label>
								<textarea readonly="true" class="form-control" id="derciption" name="derciption" ng-model="product.derciption" ng-required="true" ckeditor="editorOptions"></textarea>
								<!--<textarea ng-model="product.derciption" class="form-control" name="description" id="description" ckeditor="editorOptions"></textarea>-->
								<span id="helpBlock2" class="help-block" ng-show="frmProduct.derciption.$error.required">Vui lòng mô tả sản phẩm</span>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">		
				<span sec:authorize="hasRole('ROLE_ADMIN')">
					<a href="#" ng-if="product.status == 0" ng-click="confirmDelete(product.id,1)" class="btn btn-danger" title="Mở bán sản phẩm">
						Duyệt sản phẩm
					</a>
					<!--<a href="#" ng-if="product.status == 1" ng-click="confirmDelete(product.id,2)" class="btn btn-success" title="Ngừng kinh doanh sản phẩm">
						Khóa sản phẩm
					</a>
					<a href="#" ng-if="product.status == 0" ng-click="confirmDelete(product.id,product.status)" class="btn btn-danger" title="Xóa sản phẩm">
						Xóa sản phẩm
					</a>-->
				</span>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalImg">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Quản lý ảnh</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="post" name="frmImg" id="frmImg" enctype="multipart/form-data" >
					<div class="form-group">
			            <div class="file-loading">
			                <label>Preview File Icon</label>
			                <input id="imgs" name="imgs" type="file" multiple>
			            </div>
			        </div>
			        <button type="submit" class="btn btn-primary">Cập nhật</button>
				</form>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--Modal cập nhật hình ảnh 360 -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalView360">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<p class="modal-header-custom">Cập nhật ảnh 360 cho sản phẩm: <span class="modal-title">{{ frmTitle }}</span></p>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="col-md-12">
					<div id='mySpriteSpin'></div>
				</div>
				<div class="col-md-12 card">
			  		<p class="modal-header-custom">Ảnh 360 của sản phẩm</p>
			  		<br>
		  			<form method="post" id="frmEditImg360" class="form-horizontal" enctype="multipart/form-data">
			  			<div class="alert alert-primary" ng-if="listImage360.length <= 0">Chưa có ảnh 360 của sản phẩm</div>
			  			<div ng-hide='true' class="row-image" ng-if="listImage360.length > 0" >
					    	<div class="column-image hover-shadow" ng-repeat="img360 in listImage360" >
					      		<img ng-src="/picture/{{img360.path}}" alt="Image">
					      		<div style="text-align: center; padding: 10px 0">
					      			<div class="input-group mb-3">
									    <div class="input-group-prepend">
									      <span class="input-group-text">STT</span>
									    </div>
									    <input type="number" name="stt360[]" min="0" id="status_{{img360.id}}" class="form-control" ng-value="img360.status">
									</div>
									<div class="form-check">
										<label class="form-check-label">
											<input  type="checkbox" class="form-check-input" name="deleteImg360[]" id="check_{{img360.id}}" value="{{img360.id}}">Xóa
										</label>
									</div>
					      			
					      		</div>
					      		
					    	</div>
						</div>
						<div style="float: right; padding:10px " ng-if="listImage360.length > 0">

			    		</div>
		    		</form>
		  		</div>	
					<form ng-hide="true" method="post" name="frmImg360" id="frmImg360" enctype="multipart/form-data" >
						<div class="col-md-12">
							<div class="form-group">
					            <div class="file-loading">
					                <input id="imgview360" name="imgview360" type="file" multiple accept='image/jpeg , image/jpg, image/gif, image/png'>
					            </div>
					        </div>
					        <button type="submit" class="btn btn-success" style="float: right;"><i class="fa fa-dot-circle-o"></i> Thêm ảnh mới</button>
						</div>
						
					</form>	
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->


</div>

</section>
<section layout:fragment="script"> 
	<script th:src="@{/app/products-admin.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/js/bootstrap-select.min.js"></script>
	<script th:src="@{/js/plugins/piexif.js}"></script>
    <script th:src="@{/js/plugins/sortable.js}"></script>
    <script th:src="@{/js/plugins/spritespin.js}"></script>
    <script th:src="@{/js/fileinput.js}"></script>

    <script th:src="@{/js/themes/fa/theme.js}"></script>
    <script th:src="@{/js/themes/explorer-fa/theme.js}"></script>
    
    
    <script>
    	jQuery("#imgs").fileinput({
        theme: 'fa',
        showUpload: false,
        showCaption: false,
        browseClass: "btn btn-primary btn-lg",
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
        overwriteInitial: false,
        initialPreviewAsData: true
    });
    </script>

</section>
</body>
</html>