<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout/Layout}">
<head>
	<title>Quản lý sản phẩm</title>
</head>
<section layout:fragment="css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/css/bootstrap-select.min.css" />
	<link rel="stylesheet" th:href="@{/css/fileinput.css}">
	
</section>
<body>
	<section layout:fragment="content">
		<div class="container-fluid" ng-controller="ProductsController">
			<!-- Page Heading -->
			<h1 class="h3 mb-2 text-gray-800">Quản lý sản phẩm</h1>
			<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>
			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Danh sách sản phẩm</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Tên sản phẩm</th>
									<th ng-hide="true">Số lượng gốc</th>
									<th>Số lượng tồn</th>
									<th>Đơn giá gốc</th>
									<th>Đơn giá bán</th>
									<th>
										<a href="#" class="btn btn-success" ng-click="modal('add')">
											Thêm sản phẩm
										</a>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat = "product in products">
									<td style="width:200px">
										<a href="#">
											{{ product.name }}
										</a>
									</td>
									<td  ng-hide="true">{{ product.quantity }}</td>
									<td>	
										<input type="number" style="width:auto;" min="0" ng-model="moi" class="form-control d-inline" width="10" ng-value="product.quantity - product.sold">
										<button class="btn btn-primary float-right d-inline" ng-click="thayDoiSL(product.id,$index,moi)">Lưu</button>
									</td>
									<td>	{{ product.price | currency:"":0}} đ</td>
									<td>	{{ product.priceNew | currency:"":0}} đ</td>
									<td align="center">
										<a href="#" class="btn btn-info" title="Xem thông tin chi tiết sản phẩm" />
										<i class="fas fa-info-circle"></i>
									</a>
									<a href="#" ng-click="modalImg('images',product.id)" class="btn btn-primary" title="Quản lý hình ảnh sản phẩm" />
									<i class="fas fa-images"></i>
								</a>
								<a href="#" ng-click="modal('edit',product.id)" class="btn btn-warning" title="Chỉnh sửa thông tin sản phẩm" />
								<i class="fas fa-edit"></i>
							</a>
							<a href="#" ng-click="confirmDelete(product.id)" class="btn btn-danger" title="Xóa sản phẩm">
								<i class="fas fa-trash"></i>
							</a>
						</td>
					</tr>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>
<!-- /.container-fluid -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{frmTitle}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#home">Thông tin chính</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#menu1">Đơn giá</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#menu2">Mô tả</a>
					</li>
				</ul>
				<form name="frmProduct" class="form-horizontal">
					<div class="tab-content">
						<div id="home" class="container tab-pane active"><br>
							<div class="form-group">
								<label for="name" class="col-form-label">Tên sản phẩm:</label>
								<input type="text" class="form-control" id="name" name="name" ng-model="product.name" ng-required="true"/>
								<span id="helpBlock2" class="help-block" ng-show="frmProduct.name.$error.required">*</span>
							</div>
							<div class="row">
								<div class="form-group col-6">
									<label class="col-form-label">Chọn danh mục</label>
									<select name="category" id="category" class="form-control" ng-model="product.category.id">
										<optgroup ng-repeat="cate in categories" label="{{ cate.name }}">
											<option ng-repeat="ct in cate.categories" ng-value="ct.id">{{ ct.name }}</option>
										</optgroup>
									</select>
								</div>
								<div class="form-group col-6">
									<label for="origin" class="col-form-label">Xuất xứ: </label>
									<select name="origin" id="origin" ng-model="product.origin.id" class="form-control"  ng-options="origin.id as origin.name for origin in origins">
									</select>
									<span id="helpBlock2" class="help-block" ng-show="frmProduct.origin.$error.required">*</span>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-6">
									<label for="material" class="col-form-label">Vật liệu: </label><span id="helpBlock2" class="help-block" ng-show="frmProduct.material.$error.required">*</span>
									<select name="material" id="material" ng-model="product.material.id" class="form-control" ng-options="material.id as material.name for material in materials">
									</select>
								</div>
								<div class="form-group col-6">
									<label for="producer" class="col-form-label">Nhà sản xuất <span id="helpBlock2" class="help-block" ng-show="frmProduct.producer.$error.required">*</span>: </label>
									<select name="producer" id="producer" ng-model="product.producer.id" class="form-control" ng-options="producer.id as producer.name for producer in producers">
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="quantity" class="col-form-label">Số lượng gốc:</label>
								<input type="number" min="0" class="form-control" id="quantity" name="quantity" ng-readonly="!anGiaBan" ng-model="product.quantity" ng-required="true" />
								<span id="helpBlock2" class="help-block" ng-show="frmProduct.quantity.$error.required">*</span>
							</div>
							<div class="form-group">
								<label for="image" class="col-form-label">Ảnh đại diện:</label>
								<input type="file" id="image" name="image" ng-model="product.avatar" />
								<img id="avatar" style="width:200px; height:200px" ng-src="{{anhAvatar}}" />
							</div>
						</div>
						<div id="menu1" class="container tab-pane fade"><br>
							<div class="form-group">
								<label for="price" class="col-form-label">Giá gốc:</label>
								<input type="number" min="{{giaban.unitPrice}}" step="500" ng-model="giagoc.unitPrice" class="form-control" id="price" name="price" ng-required="!anGiaBan" />
								<span id="helpBlock2" class="help-block" ng-show="frmProduct.price.$error.required">*</span>
							</div>
							<div class="form-group" ng-hide="anGiaBan">
								<label for="price" class="col-form-label">Giá bán:</label>
								<input type="number" min=0 max="{{giagoc.unitPrice}}" step="500" ng-model="giaban.unitPrice" ng-change="thayDoiGiaBan()" class="form-control" id="pricenew" name="pricenew" ng-required="!anGiaBan" />
								<span id="helpBlock2" class="help-block" ng-show="frmProduct.price.$error.required">*</span>
							</div>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th scope="col">Giá bán</th>
										<th scope="col">Ngày thêm</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="price in product.prices | orderBy:'-id'" ng-if="price.root == 0" >
										<td>{{price.unitPrice}}</td>
										<td>{{price.createdAt | date:"MM/dd/yyyy 'at' h:mma"}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div id="menu2" class="container tab-pane fade"><br>
							<div class="form-group">
								<label for="mota" class="col-form-label">Mô tả:</label>
								<textarea class="form-control" id="derciption" name="derciption" ng-model="product.derciption" ng-required="true" ckeditor="editorOptions"></textarea>
								<!--<textarea ng-model="product.derciption" class="form-control" name="description" id="description" ckeditor="editorOptions"></textarea>-->
								<span id="helpBlock2" class="help-block" ng-show="frmProduct.derciption.$error.required">Vui lòng mô tả sản phẩm</span>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" id="submit" class="btn btn-primary" ng-disabled="frmProduct.$invalid" ng-click="save()">Gửi</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalImg">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Quản lý ảnh</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="post" name="frmImg" id="frmImg" enctype="multipart/form-data" >
					<div class="form-group">
			            <div class="file-loading">
			                <label>Preview File Icon</label>
			                <input id="imgs" name="imgs" type="file" multiple>
			            </div>
			        </div>
			        <button type="submit" class="btn btn-primary">Cập nhật</button>
				</form>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</div>

</section>
<section layout:fragment="script"> 
	<script th:src="@{/app/products.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/js/bootstrap-select.min.js"></script>
	<script th:src="@{/js/plugins/piexif.js}"></script>
    <script th:src="@{/js/plugins/sortable.js}"></script>
    <script th:src="@{/js/fileinput.js}"></script>

    <script th:src="@{/js/themes/fa/theme.js}"></script>
    <script th:src="@{/js/themes/explorer-fa/theme.js}"></script>
    <script>
    	jQuery("#imgs").fileinput({
        theme: 'fa',
        showUpload: false,
        showCaption: false,
        browseClass: "btn btn-primary btn-lg",
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
        overwriteInitial: false,
        initialPreviewAsData: true
    });
    </script>

</section>
</body>
</html>