<section layout:fragment="banner2" class="section-main bg padding-bottom">
<div class="container" style="padding-top:32px;">
	<div class="row border border-top-0 bg-white">
		<aside class="col-lg-5-24">
			<nav>
				<ul class="menu-category">
					<li> <a href="#">Food &amp Beverage </a></li>
					<li> <a href="#">Home Equipments </a></li>
					<li> <a href="#">Machinery Items </a></li>
					<li> <a href="#">Toys & Hobbies  </a></li>
					<li> <a href="#">Beauty & Personal Care  </a></li>
					<li> <a href="#">Mobile phones  </a></li>
					<li class="has-submenu"> <a href="#">More category  <i class="icon-arrow-right pull-right"></i></a>
						<ul class="submenu">
							<li> <a href="#">Food &amp Beverage </a></li>
							<li> <a href="#">Home Equipments </a></li>
							<li> <a href="#">Machinery Items </a></li>
							<li> <a href="#">Toys & Hobbies  </a></li>
							<li> <a href="#">Consumer Electronics  </a></li>
							<li> <a href="#">Home & Garden  </a></li>
							<li> <a href="#">Beauty & Personal Care  </a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</aside>
		<main class="col-lg-19-24">
			<div class="row no-gutters">
				<div class="col-lg-12 col-md-12">
					<div class="owl-init slider-main owl-carousel" data-items="1" data-margin="1" data-nav="true" data-dots="false">
						<div class="item-slide">
							<img src="images/banners/slide1.jpg">
						</div>
						<div class="item-slide">
							<img src="images/banners/slide2.jpg">
						</div>
						<div class="item-slide">
							<img src="images/banners/slide3.jpg">
						</div>
					</div>
				</div> 
			</div>
		</main>
	</div>
</div>
</section>