<section layout:fragment="sectionSPKM" class="section-request bg-white padding-y-sm">
	<div class="container">
			<header class="section-heading heading-line">
				<h4 class="title-section bg-white text-uppercase">Sản phẩm khuyến mãi</h4>
			</header>
			<div class="row-sm">
				<div class="col-6 col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-2" ng-repeat="spkm in listSPKM">
					<a ng-href="/chi-tiet-san-pham/{{spkm.id}}">
						<figure class="card card-product">
							<!--<span class="badge-new"> NEW </span> -->
						<div class="img-wrap"> <img class="card-img-top img-fluid" ng-src="picture/{{spkm.avatar}}" /></div>
						<figcaption class="info-wrap">
							<div class="title">{{ spkm.name }}DSKSFKKSFKSKFKSFKSFKSKKSKFSKFKF</div>
							<div class="action-wrap">
								<div class="price-wrap">
									<span class="price-new">{{ spkm.priceNew | currency:"":0}} đ</span><br>
									<del class="price-old">{{ spkm.price | currency:"":0}} đ</del> <span class="discout">-{{ spkm.priceNew*100/spkm.price | number:0 }}%</span>
								</div>
							</div> 
						</figcaption>
					</figure>
				</a>
			</div>
		</div>
	</div>
</section>