<section layout:fragment="sectionSPKM" class="section-request bg">
	<div class="container bg-white">
		<div class="headerh">
			<h4 class="title-section bg-white text-uppercase">Sản phẩm khuyến mãi</h4>
		</div>
		<div class="row-sm">
			<div class="col-6 col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-2" ng-repeat="spkm in listSPKM">
				<a ng-href="/chi-tiet-san-pham/{{spkm.id}}" title="{{spkm.name}}">
					<figure class="card card-product">
					<span class="badge-new" ng-if="bestSeller.includes(spkm.id)"> Hot </span>
					<span class="badge-offer"><b>-{{ ((spkm.price-spkm.priceNew)/spkm.price)*100 | number:0 }}%</b></span>
					<div class="img-wrap"> <img class="card-img-top img-fluid" ng-src="picture/{{spkm.avatar}}" /></div>
						<figcaption class="info-wrap">
							<div class="title">{{ spkm.name }}</div>
							<div class="action-wrap">
								<div class="price-wrap">
									<span class="price-new">{{ spkm.priceNew | currency:"":0}} đ</span>
									<del class="price-old">{{ spkm.price | currency:"":0}} đ</del> 
									<!-- <del class="price-old">{{ spkm.price | currency:"":0}} đ</del> <span class="discout">-{{ ((spkm.price-spkm.priceNew)/spkm.price)*100 | number:0 }}%</span> -->
									<div ng-if="spkm.avgStar">
										<rate-yo-home rating="spkm.avgStar"></rate-yo-home>
									</div>
									<div>
									<p style="color:#777">{{spkm.store.province.name}}</p>
									</div>
								</div>
							</div> 
						</figcaption>
					</figure>
				</a>
			</div>
			<div class="mx-auto p-2 text-center">
				<button class="btn btn-outline-success">Xem thêm</button>
			</div>
		</div>
	</div>
</section>