<section layout:fragment="sectionSPNEW" class="section-request bg padding-y-sm">
	<div class="container bg-white">
			<div class="headerh">
				<h4 class="title-section bg-white text-uppercase">Sản phẩm mới</h4>
			</div>
			<div class="row-sm">
				<div class="col-6 col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-2" ng-repeat="sp in listSPNEW">
					<a ng-href="/chi-tiet-san-pham/{{sp.id}}" title="{{sp.name}}">
						<figure class="card card-product">
						<span class="badge-new" ng-if="bestSeller.includes(sp.id)"> Hot </span>
						<span ng-if="sp.price != sp.priceNew" class="badge-offer"><b>-{{ ((sp.price-sp.priceNew)/sp.price)*100 | number:0 }}%</b></span>
						<div class="img-wrap"> <img class="card-img-top img-fluid" ng-src="picture/{{sp.avatar}}" /></div>
						<figcaption class="info-wrap">
							<!-- <div class="title" ng-if="sp.name.length > 40">{{ sp.name | limitTo: 35 }} ... </div>
							<div class="title" ng-if="sp.name.length <= 40">{{ sp.name }}</div>
							 -->
							<div class="title">{{ sp.name }}</div>
							<div class="action-wrap">
								<div class="price-wrap">
									<span class="price-new">{{ sp.priceNew | currency:"":0}} đ</span>
									<span ng-if="sp.price != sp.priceNew"><del class="price-old">{{ sp.price | currency:"":0}} đ</del> <!--<span class="discout">-{{ ((sp.price-sp.priceNew)/sp.price)*100 | number:0 }}%</span>--></span>
									<div ng-if="sp.avgStar">
											<rate-yo-home rating="sp.avgStar"></rate-yo-home>
									</div>
								</div>
								<div>
									<p style="color:#777">{{sp.store.province.name}}</p>
								</div>
							</div>
							
						</figcaption>
					</figure>
				</a>
			</div>
		</div>
		<div class="mx-auto p-2 text-center">
			<a href="/tim-kiem?filter=newest" class="btn btn-outline-success">Xem thêm</a>
		</div>
	</div>
</section>