<aside layout:fragment="sidebar-user" class="col-md-3">					
<div class="card">
	<article class="card-group-item">
		<header class="card-header"><h6 class="title">Quản lý tài khoản </h6></header>
		<div class="filter-content">
			<div class="list-group list-group-flush">
				<a th:href="@{../quan-ly-tai-khoan}" class="list-group-item">Thông tin cá nhân</a>
				<a th:href="@{../quan-ly-don-hang}" class="list-group-item">Quản lý đơn hàng</a>
				<a th:href="@{../danh-sach-nhan-xet}" class="list-group-item">Nhận xét của tôi </a>
				<a th:href="@{../danh-sach-cau-hoi}" class="list-group-item">Câu hỏi của tôi </a>
			</div>
		</div>
	</article>
</div>
</aside>