<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout/Layout}">
<head>
  <title>Quản lý đơn đặt hàng</title>
</head>
<body>
  <section layout:fragment="content">
    <div class="container-fluid" ng-controller="OrderDetailController">
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Quản lý hóa đơn</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Danh sách sản phẩm</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Số hóa đơn</th>
                      <th>Tổng giá trị</th>
                      <th>Tình trạng</th>
                      <th>Khách hàng</th>
                      <th>Thời điểm</th>
                      <th>
                      	Chi tiết
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat = "obj in data">
                      <td>	{{ obj.id }}		</td>
                      <td>	{{ obj.total }}		</td>
                      <td>	{{ obj.orderStatus.name }}	</td>
                      <td>
                      	<b>Tên</b>: {{ obj.customer.name }}<br>
                      	<b>Email</b>: {{ obj.customer.email }}<br>
                      	<b>SĐT</b>: {{ obj.customer.phoneNumber }}<br>
                      	<b>Địa chỉ</b>: {{ obj.address }}
                      </td>
                      <td>	{{ obj.createdAt | date:"MM/dd/yyyy 'at' h:mma" }}	</td>
                      
                      <td align="center">
	                      <a href="#" ng-click="modal('edit',obj.id)"  class="btn btn-info" title="Chỉnh sửa thông tin sản phẩm" />
	                      <i class="fas fa-info-circle"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <!-- /.container-fluid -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">{{frmTitle}}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-6 card" style="padding: 0">
								<div class="card-header">
									<strong>Thông tin người đặt:</strong>
								</div>
								<div class="card-body">
									<p>Tên: {{obj.customer.name}}</p>
									<p>Địa chỉ: {{obj.address}}</p>
									<p>SĐT: {{obj.customer.phoneNumber}}</p>
								</div>
							</div>
							<div class="col-6 card" style="padding: 0">
								<div class="card-header">
									<strong>Số hóa đơn: {{obj.id}}</strong>
								</div>
								<div class="card-body">
									<p>Trạng thái: {{obj.orderStatus.name}}</p>
									<p>Tổng điền: {{obj.total}}</p>
									<p>Hình thức thanh toán: {{obj.paymentType.name}}</p>
								</div>
							</div>
							<div class="col-12" style="padding: 0">
								<div ng-repeat="dt in obj.ordersDetail" class="card">
									<div class="card-header">
										<strong>Sản phẩm: {{dt.product.name}}</strong>
									</div>
									<div class="card-body">
										<div class="row">
											<div class="col-md-3">
												<img ng-src="/picture/{{dt.product.avatar}}" width="125px" height="125px">
											</div>
											<div class="col-md-9">
												<p>Số lượng: {{dt.quantity}}</p>
												<p>Đơn giá áp dụng: {{dt.price.unitPrice}}</p>
												<p>Khuyến mãi: {{dt.promotion.saleOff}} %</p>
												<p>Thành tiền: {{ dt.price.unitPrice*dt.quantity *(100-dt.promotion.saleOff)/100 }}</p>
											</div>
										</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button ng-if="obj.orderStatus.id == 1" class="btn btn-primary" ng-click="save('xác nhận',obj.id,2)">Xác nhận hóa đơn</button>
						<button ng-if="obj.orderStatus.id == 2" class="btn btn-primary" ng-click="save('vận chuyển',obj.id,3)">Vận chuyển</button>
						<button ng-if="obj.orderStatus.id == 3 || obj.orderStatus.id == 4" class="btn btn-primary" ng-click="save('giao',obj.id,5)">Đã giao</button>
						<button ng-if="obj.orderStatus.id != 7" class="btn btn-warning" ng-click="save('hủy',obj.id,7)">Hủy hóa đơn</button>
					</div>
				</div>
			</div>
		</div>
	</div>
        
  </section>
  <section layout:fragment="script">
  	<script th:src="@{/app/order.js}"></script>
  </section>
</body>
</html>