<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{homepage/layout/Layout}">
<head>
	<title>Sống xanh</title>
	<section layout:fragment="css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link th:href="@{../css/sb-admin-2.min.css}" rel="stylesheet">
	
	<style>
		th{
			text-align: inherit;
		}
		body{
			color:black;
			}
		.header-main {
		    display: none;
		}
	</style>
	
	</section>
</head>
<body>
<section ng-controller="OrderDetailCustomerController" layout:fragment="content">
	<section class="section-content bg padding-y-sm">
		<div class="container">
			<div class="row">
				<section layout:replace="homepage/section/sidebar-user :: sidebar-user" >
				</section>
				<div class="col-md-9">
					<div class="row card-deck">
						<div class="col-6 card border-light mb-3" style="padding: 0">
							<div class="card-header">
								<strong>Thông tin khách hàng:</strong>
							</div>
							<div class="card-body">
								<p>Khách hàng: {{obj.customer.name}}</p>
								<p>Địa chỉ: {{obj.address}}</p>
								<p>SĐT: {{obj.customer.phoneNumber}}</p>
							</div>
						</div>
						<div class="col-6 card border-light mb-3" style="padding: 0">
							<div class="card-header">
								<strong>Đơn hàng: HD-{{obj.id}}</strong>
							</div>
							<div class="card-body">
								<p>Tổng giá trị: {{obj.totalGroup  | currency:"":0}} đ</p>
								<p>Hình thức thanh toán: {{obj.paymentType.name}}</p>
								<p>Ngày mua: {{obj.createdAt | date:"MM/dd/yyyy HH:mm" :'UTC'}}</p>
								<p ng-hide="true">{{myVar = 0}}</p>
								<p ng-if="obj.paymentType.id == 2">Đã thanh toán</p>
								<p ng-if="myVar == 1">Chưa thanh toán</p>
							</div>
						</div>
						<div class="col-12" style="padding: 0">
							<div ng-repeat="order in obj.orders" class="card border-light mb-3">
								<div class="card-header">
									<strong>Kiện hàng #{{$index+1}}</strong>
									<strong class="float-right">Cung cấp bởi:<a href="#"> {{order.store.name}}</a></strong>
								</div>
								<div ng-repeat="dt in order.ordersDetail" class="card-body">
									<div class="row">
										<div class="col-md-3 d-flex justify-content-center align-items-center">
											<img ng-src="/picture/{{dt.product.avatar}}" width="125px" height="125px">
										</div>
										<div class="col-md-4">
											<strong>{{dt.product.name}}</strong>
										</div>
										<div class="col-md-3">
											<p>Số lượng: {{dt.quantity}}</p>
											<p ng-if="!dt.promotion">Giá bán: {{dt.price.unitPrice  | currency:"":0}}đ</p>
											<p ng-if="dt.promotion">Giá bán: {{dt.price.unitPrice*(dt.promotion.saleOff/100)  | currency:"":0 }}đ</p>
											<p>Thành tiền: {{ dt.quantity*dt.price.unitPrice | currency:"":0 }}đ</p>
										</div>
										<div ng-if="order.orderStatus.id == 5" class="col-md-2 d-flex justify-content-center align-items-center">
											<button class="btn btn-outline-success" ng-click="modal(order.id,dt)" >Đánh giá</button>
										</div>
										
									</div>	
								</div>
								<div class="card-footer">
								  <strong>Tình trạng: {{order.orderStatus.name}}</strong>
							      <strong class="float-right">Tổng: {{order.total | currency:"":0}}đ</strong>
							    </div>
							    
							</div>
							<button ng-if="checkHuy" class="btn btn-outline-danger col-md-4 offset-md-4" ng-click="huy(obj.id)" >Hủy</button>
						</div>
					</div>
				</div>		
			</div>
		</div>
		
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Đánh giá sản phẩm</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form name="frmobj" class="form-horizontal">
							<div class="form-group">
								<div class="card">
								<div class="card-header">
									<strong>Sản phẩm: {{detail.product.name}}</strong>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-md-3 d-flex justify-content-center align-items-center">
											<img ng-src="/picture/{{detail.product.avatar}}" width="125px" height="125px">
										</div>
										<div class="col-md-6">
											<p>Số lượng: {{detail.quantity}}</p>
											<p ng-if="!detail.promotion">Giá bán: {{detail.price.unitPrice | currency:"":0}}đ</p>
											<p ng-if="detail.promotion">Giá bán: {{detail.price.unitPrice*(detail.promotion.saleOff/100) | currency:"":0}}đ</p>
											<p>Thành tiền: {{ detail.price.unitPrice*detail.quantity *(100-detail.promotion.saleOff)/100 | currency:"":0 }}</p>
										</div>
									</div>	
								</div>
							</div>
								
							</div>
							<div class="form-group">
								<label for="name" class="col-form-label">Đánh giá của bạn về sản phẩm này:</label>
								<div class="ratting">
									<div id="rateYo"></div>
								</div>
							</div>
							<div class="form-group">
								<label for="name" class="col-form-label">Nội dung đánh giá:</label>
								<textarea type="text" contenteditable="true" spellcheck="true" class="form-control" id="name" name="name" ng-model="review.content" ng-required="true"></textarea>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" ng-disabled="frmobj.$invalid" ng-click="save(detail.product.id)">Gửi</button>
					</div>
				</div>
			</div>
		</div>
		
	</section>
</section>
<section layout:fragment="script">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script>
	
homepage.controller('OrderDetailCustomerController', function($scope,$http,API){
	$(".bg-loadding").css("display","none");
	var thisPath = window.location.pathname;
	var id = thisPath.substring(thisPath.lastIndexOf("/")+1);
	
	function render(){
		$http.get('/orders/order-group/'+id)
		.then(function (res) {
			$scope.checkHuy = true;
			for( let i=0; i < res.data.orders.length;i++){
				if(res.data.orders[i].orderStatus.id > 1){
					$scope.checkHuy = false;
				};
			};
			$scope.obj = res.data;
		})
		.catch(function (err) {
			console.log(err);
		});
	}
	render();
	
	
	var order = null;
	var reviewId = null;
	$scope.modal = function(orderId,detail){
		order = orderId;
		let getReviewURL = '/reviews/getReview/'+detail.product.id+'/'+orderId;
		
		$http.get(getReviewURL).then(function(res){
			$scope.review = res.data;
			$("#rateYo").remove();
			$(".ratting").html( "<div id='rateYo'></div>" );
			
		}).then(function(){
			jQuery(function () {
		        jQuery("#rateYo").rateYo({
		            starWidth: "20px",
		            rating: $scope.review.star,
		            fullStar: true
		        });
		    });
		})
		$scope.detail = detail;
		jQuery("#myModal").modal('show');
	}
	
	$scope.save = function(id){
		var rateYo = jQuery("#rateYo").rateYo();
		var data = {
			id: $scope.review.id,
			product: {id:id},
			order:{id:order},
			content: $scope.review.content,
			star: rateYo.rateYo("rating")
		}
		
		$http.post('/reviews',data).then(function(res){
			//console.log(res);
			Swal.fire(
			  'Cảm ơn bạn đã đánh giá sản phẩm!',
			  '',
			  'success'
			)
		})
		
	}
	
	$scope.huy = function(id){
		
		Swal.fire({
			  title: 'Bạn có chắc muốn hủy hóa đơn?',
			  text: "",
			  type: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: 'Hủy hóa đơn!'
			}).then((result) => {
			  if (result.value) {
			    Swal.fire(
			      'Đã hủy hóa đơn!',
			      '',
			      'success'
			    )
			    $http.delete(`/orders/khach-hang-huy/${id}`).then(function(res){
					render();
				})
			  }
			})
		
		/*var isConfirmDelete = confirm('Bạn có chắc muốn hủy đơn hàng này không?');
		if (isConfirmDelete) {
			
		}*/
	}
	
});
</script>
<script th:src="@{../js/sb-admin-2.min.js}"></script>
</section>
</body>
</html>