<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{homepage/layout/Layout}">
<head>
  <title>Sống xanh</title>
  <section layout:fragment="css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link href="css/sb-admin-2.min.css" rel="stylesheet">
	<style>
		.header-main {
		    display: none;
		}
	</style>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/css/bootstrap-select.min.css" />
  </section>
</head>
<body>
  <section ng-controller="RegisterStoreController" layout:fragment="content">
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-lg-12">
            <div class="p-5">
           	  <div ng-if="errors.length" class="alert alert-warning">
				  <strong>Có lỗi xảy ra!</strong>
				   <ul ng-repeat = "err in errors">
				   	<li>{{err}}</li>
				    </ul>
			  </div>
              <div class="text-center">
                <h3 class="h4 text-gray-900 mb-2">Trở thành nhà bán hàng</h3>
              </div>
              <form name="frmobj" id="frmobj" class="user" ng-class="validate" autocomplete="off">
                <div class="form-group row">
                </div>
                <div class="form-group">
                  <label for="hoTen">Họ tên</label>
                  <input type="text" class="form-control form-control-user" ng-model="obj.customer.name" id="hoTen" required="true" ng-required="true" placeholder="Họ tên" autocomplete="off" />
                </div>
                <div class="form-group">
                	<label for="">Giới tính</label><br>
	                <div class="custom-control custom-radio custom-control-inline">
					  <input type="radio" class="custom-control-input" id="gender1" ng-model="obj.customer.gender" ng-value="0" name="radio-stacked" required />
					  <label class="custom-control-label" for="gender1">Nam</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
					  <input type="radio" class="custom-control-input" id="gender0" ng-model="obj.customer.gender" ng-value="1" name="radio-stacked" required />
					  <label class="custom-control-label" for="gender0">Nữ</label>
					</div>
				</div>
				<div class="form-group">
                  <label for="birthDate">Ngày sinh</label>
                  <input type="date" ng-model="obj.customer.birthDate" max="{{today | date:'yyyy-MM-dd'}}" class="form-control" id="birthDate" required="true" ng-required="true" />
                </div>
                
                <div class="form-group">
                  <label for="hoTen">Tên cửa hàng</label>
                  <input type="text" class="form-control form-control-user" ng-model="obj.store.name" id="hoTen" required="true" ng-required="true" placeholder="Tên doanh nghiệp" autocomplete="off" />
                </div>
                <div class="form-group">
	                <label>Tỉnh thành:</label>
					<select class="selectpicker" data-size="5" data-style="btn-light"
							data-live-search="true" 
							ng-model="obj.store.province.provinceid" 
							ng-change="getId('province')">
						<option data-tokens="ketchup mustard" 
								ng-repeat="province in provinces" 
								ng-selected="obj.store.province == province" 
								value="{{province.provinceid}}">
							{{province.name}}
						</option>
					</select>
					<label>Quận huyện:</label>
					<select class="selectpicker" data-size="5" data-style="btn-light"
							data-live-search="true" 
							ng-model="obj.store.district.districtid" 
							ng-change="getId('district')">
						<option data-tokens="ketchup mustard" 
								ng-repeat="district in districts"
								ng-selected="obj.store.district == district" 
								value="{{district.districtid}}">
							{{district.name}}
						</option>
					</select>
					<label>Phường xã:</label>
					<select class="selectpicker" data-style="btn-light"
							data-size="5"
							data-live-search="true"
							ng-model="obj.store.ward.wardid"
							ng-change="getId('ward')">
						<option 
							data-tokens="ketchup mustard" 
							ng-repeat="ward in wards" 
							ng-selected="obj.store.ward == ward"
							value="{{ward.wardid}}">
							{{ward.name}}
						</option>
					</select>
				</div>
                <div class="form-group">
                  <label for="diaChi">Địa chỉ cửa hàng</label>
                  <input type="text" class="form-control form-control-user" ng-model="obj.store.address" id="diaChi" required="true" ng-required="true" placeholder="Địa chỉ cửa hàng" autocomplete="off" />
                </div>
                <div class="form-group">
                  <label for="SDT">Số điện thoại</label>
                  <input type="text" ng-model="obj.store.phoneNumber" class="form-control form-control-user" id="SDT" required="true" ng-required="true" pattern="(03[2-9]|05[6|8|9]|07[0|6-9]|08[1-9]|09[^5])+([0-9]{7})\b" placeholder="0946730447" />
                </div>
                <div class="form-group">
                  <label for="moTa">Mô tả</label>
                  <textarea type="text" class="form-control" ng-model="obj.store.derciption" id="moTa" placeholder="Mô tả ngắn về doanh nghiệp...(có thể bỏ qua)" autocomplete="off"></textarea>
                </div>
                <div class="form-group">
                  <label for="Email">Email</label>
                  <input type="email" ng-model="obj.user.email" class="form-control form-control-user" id="Email" required="true" ng-required="true" placeholder="Email" />
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <label for="password">Mật khẩu</label>
                    <input type="password" ng-model="obj.user.password" maxlength="32" minlength="8"class="form-control form-control-user" id="password" required="true" ng-required="true" placeholder="mật khẩu" />
                    <small id="passwordHelpInline" class="text-muted">
				      Mật khẩu phải từ 8-32 ký tự.
				    </small>
                  </div>
                  <div class="col-sm-6">
                    <label for="Repassword">Nhập lại mật khẩu</label>
                    <input type="password" class="form-control form-control-user" maxlength="32" minlength="8" ng-model="rePass" pattern="{{obj.user.password}}\b" id="Repassword" ng-required="true" placeholder="Nhập lại mật khẩu" />
                  </div>
                </div>
                <button type="submit" ng-disabled="frmobj.$invalid" ng-click="submit()" class="btn btn-primary btn-user btn-block">
                  Đăng ký bán hàng
                </button>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="@{/dang-nhap}">Bạn đã có tài khoản? Đăng nhập!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <section layout:fragment="script">
  <script th:src="@{/app/registerStore.js}"></script>
  <script src="js/sb-admin-2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/js/bootstrap-select.min.js"></script>
  
  <script>
	$(document).ready(function(){
		$(".bg-loadding").css("display","none");
	});
  </script>
  </section>
</body>
</html>