<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{homepage/layout/Layout}">
<head>
  <title>Sống xanh</title>
  <section layout:fragment="css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link href="css/sb-admin-2.min.css" rel="stylesheet">
  </section>
</head>
<body>
  <section layout:fragment="content">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-8 col-lg-10 col-md-7">
				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-12">
								<div class="p-5">
									<div class="text-center">
										<div th:if="${param.error}" class="alert alert-danger">
										  <strong>Đăng nhập thất bại!</strong> Vui lòng kiểm tra thông tin.
										</div>
										<div th:if="${param.logout}" class="alert alert-info">
										  <strong>Bạn đã đăng xuất!</strong> Cảm ơn bạn đã ghé thăm.
										</div>
										<h1 class="h4 text-gray-900 mb-4">Kính chào khách hàng!</h1>
									</div>
									<form class="user" th:action="@{/dang-nhap}" method="POST">
										<div class="form-group">
											<input type="email" name="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email ..." required>
										</div>
										<div class="form-group">
											<input type="password" name="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Mật khẩu ..." required>
										</div>
										<button type="submit" class="btn btn-primary btn-user btn-block">
											Đăng nhập
										</button>
										<hr>
										<a href="/" class="btn btn-google btn-user btn-block">
											<i class="fab fa-google fa-fw"></i> Đăng nhập với Google
										</a>
									</form>
									<hr>
									<div class="text-center">
										<a class="small" th:href="@{quen-mat-khau}">Quên mật khẩu?</a>
									</div>
									<div class="text-center">
										<a class="small" th:href="@{dang-ky}">Tạo tài khoản!</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </section>
  <section layout:fragment="script">
  <script src="js/sb-admin-2.min.js"></script>
  <script>
	$(document).ready(function(){
		$(".bg-loadding").css("display","none");
	});
  </script>
  </section>
</body>
</html>