<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{homepage/layout/Layout}">
<head>
  <title>Sống xanh</title>
  <section layout:fragment="css">
  </section>
</head>
<body>
  <section layout:fragment="content">
	<section class="section-content bg padding-y-sm">
		<div class="container">
			<div class="row">
				<aside class="col-md-3">					
					<div class="card">
						<article class="card-group-item">
							<header class="card-header"><h6 class="title">Quản lý tài khoản </h6></header>
							<div class="filter-content">
								<div class="list-group list-group-flush">
								  <a href="#" class="list-group-item">Thông tin cá nhân</a>
								  <a href="#" class="list-group-item">Quản lý đơn hàng</a>
								  <a href="#" class="list-group-item">Nhận xét của tôi </a>
								  <a href="#" class="list-group-item">Câu hỏi của tôi </a>
								</div>
							</div>
						</article>
					</div>
				</aside>
				<main class="col-md-9">
					<div class="card">
						<div class="card-body">
							<div class="row">
								
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</section>
  </section>
  <section layout:fragment="script">
  </section>
</body>
</html>