<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{homepage/layout/Layout}">
<head>
<title>Sống xanh</title>
<section layout:fragment="css">
	<style type="text/css">
		.checked {
			color: orange;
		}
		.form-row a, .form-row a:hover {
			color: #777;
		}
		a {
			color: black;
		}
		a:hover {
			color: #57b846;
		}
		.page-item.active .page-link{
			background-color:#57b846;
			border-color:#57b846;
		}
		.page-link{
			color:#57b846;
		}
		.content {
			overflow: hidden;
			word-wrap: break-word;
			text-overflow: ellipsis;
			line-height: 18px;
		}
		.less {
			max-height: 154px;
		}
		.list-group-item {
			border: none;
		}
	</style>
</section>

</head>
<body ng-controller="SearchController">
<section layout:fragment="content">
<section class="section-content bg padding-y-sm" id="show" style="display:none;">
	<div class="container bg-white shadow-lg">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-3-24"> <strong>Kết quả: </strong> </div> <!-- col.// -->
					<div class="col-md-21-24"> 
						<ul class="list-inline">
							<li class="list-inline-item"><h5>{{data.totalElements}} kết quả được tìm thấy</h5></li>	
							<li class="list-inline-item">
								<span ng-repeat="filter in filterArray">
									<button class="btn btn-outline-success btn-sm" ng-click="closeParam(filter.param)">{{ filter.name }} <span aria-hidden="true">×</span> </button>
								</span> 
							</li>	
							<div class="float-right">
								<li class="list-inline-item">
									<div class="form-inline">
										<ul class="nav nav-tabs">
											<li class="nav-item">
												<a class="nav-link" ng-click="redirect('filter','bestSeller')" data-toggle="tab" href="javascript:void(0)">Bán chạy</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" ng-click="redirect('filter','priceAsc')" data-toggle="tab" href="javascript:void(0)">Giá thấp</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" ng-click="redirect('filter','priceDesc')" data-toggle="tab" href="javascript:void(0)">Giá cao</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" ng-click="redirect('filter','newest')" data-toggle="tab" href="javascript:void(0)">Hàng mới</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" ng-click="redirect('filter','bestStar')" data-toggle="tab" href="javascript:void(0)">Đánh giá cao nhất</a>
											</li>
										</ul>
									</div>
								</li>
							</div>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="padding-y-sm">
			
		</div>
		<div class="row">
			<aside class="col-md-3">
				<div class="card card-filter">
					<!--<article class="card-group-item">
						<header class="card-header">
						<h6 class="title">Khoảng Giá  </h6>
						</header>
						
							<div class="card-body">
								<div class="form-row">
									<div class="form-group col-md-6">
										<input class="form-control" min="0" placeholder="tối thiểu" type="number">
									</div>
									<div class="form-group text-right col-md-6">
										<input class="form-control" max="0" placeholder="tối đa" type="number">
									</div>
								</div> 
								<button class="btn btn-block btn-outline-primary">Apply</button>
							</div> 
					</article> -->
					<article class="card-group-item">
						<header class="card-header">
						<h6 class="title">Đánh giá  </h6>
						</header>
						
							<div class="card-body">
								<div class="form-row">
									<a href="javascript:void(0)" ng-click="redirect('ratting',5)">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
									</a>
								</div> <!-- form-row.// -->
								<div class="form-row">
									<a href="javascript:void(0)" ng-click="redirect('ratting',4)">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										Trở lên
									</a>
								</div> <!-- form-row.// -->
								<div class="form-row">
									<a href="javascript:void(0)" ng-click="redirect('ratting',3)">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										Trở lên
									</a>
								</div> <!-- form-row.// -->
								<div class="form-row">
									<a href="javascript:void(0)" ng-click="redirect('ratting',2)">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										Trở lên
									</a>
								</div> <!-- form-row.// -->
								<div class="form-row">
									<a href="javascript:void(0)" ng-click="redirect('ratting',1)">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										Trở lên
									</a>
								</div> <!-- form-row.// -->
							</div> <!-- card-body.// -->

					</article> <!-- card-group-item.// -->
					<article class="card-group-item">
						<header class="card-header">
							<h6 class="title text-center">Vật liệu  </h6>
						</header>
						<div class="filter-content">
							<div class="list-group list-group-flush content" ng-class="{ less:hidden }">
							  <a href="javascript:void(0)" ng-repeat="material in materials" ng-click="redirect('material',material.id)" class="list-group-item">{{material.name}}</a>
							</div>
							<a href="javascript:void(0)" class="list-group-item text-center" ng-click="hidden = !hidden"><strong>{{hidden ? 'Xem thêm' : 'Ẩn bớt'}}</strong></a>
						</div>
					</article>
					<article class="card-group-item">
						<header class="card-header">
							<h6 class="title text-center">Xuất xứ  </h6>
						</header>
						<div class="filter-content">
							<div class="list-group list-group-flush content" ng-class="{ less:hiddenOrigin }">
							  <a href="javascript:void(0)" ng-repeat="origin in origins" ng-click="redirect('origin',origin.id)" class="list-group-item">{{origin.name}}</a>
							</div>
							<a href="javascript:void(0)" class="list-group-item text-center" ng-click="hiddenOrigin = !hiddenOrigin"><strong>{{hiddenOrigin ? 'Xem thêm' : 'Ẩn bớt'}}</strong></a>
						</div>
					</article>
					<article class="card-group-item">
						<header class="card-header">
							<h6 class="title text-center">Nhà cung cấp  </h6>
						</header>
						<div class="filter-content">
							<div class="list-group list-group-flush">
							  <a href="javascript:void(0)" ng-repeat="producer in producers" ng-click="redirect('producer',producer.id)" class="list-group-item">{{producer.name}}</a>
							</div>
						</div>
					</article>
				</div>
			</aside>
			<main class="col-md-9">
				<div class="row">
					<div ng-repeat="sp in data.content" class="col-6 col-md-4 col-xl-3">						
						<a ng-href="/chi-tiet-san-pham/{{sp.id}}" title="{{sp.name}}">
								<figure class="card card-product">
								<span class="badge-new" ng-if="bestSeller.includes(sp.id)"> Hot </span>		
								<span ng-if="sp.price != sp.priceNew" class="badge-offer"><b>-{{ ((sp.price-sp.priceNew)/sp.price)*100 | number:0 }}%</b></span>
								<div class="img-wrap"> <img class="card-img-top img-fluid" ng-src="/picture/{{sp.avatar}}" /></div>
								<figcaption class="info-wrap">
									<div class="title">{{ sp.name }}</div>
									<div class="action-wrap">
										<div class="price-wrap">
											<span class="price-new">{{ sp.priceNew | currency:"":0}} đ</span>
											<span ng-if="sp.price != sp.priceNew"><del class="price-old">{{ sp.price | currency:"":0}} đ</del></span>
											<div ng-if="sp.avgStar">
												<rate-yo-home rating="sp.avgStar"></rate-yo-home>
											</div>
											<div>
												<p style="color:#777">{{sp.store.province.name}}</p>
											</div>
										</div>
									</div>
								</figcaption>
							</figure>
						</a>	
					</div>
				</div>
				<div class="d-flex justify-content-end">
				    <ul id="pagination-demo" class="pagination-md"></ul>
				</div>
			</main>
		</div>
	</section>
</section>
<section layout:fragment="script">
<script th:src="@{https://www.solodev.com/assets/pagination/jquery.twbsPagination.js}"></script>
<script th:src="@{/app/search.js}"></script>
</section>
</body>
</html>