<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{homepage/layout/Layout}">
<head>
  <title>Sống xanh</title>
  <section layout:fragment="css">
  	<style>
  		.card-body {
  			padding:3.25rem;
  		}
  	</style>
  </section>
</head>
<body>
  <section layout:fragment="content">
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
		<div class="row">
		<a href="#" class="p-4 col-md-3">
		<div id="code_banner1">
			<div class="card-banner overlay-grad" style="height:250px; background-image: url('images/posts/1.jpg');">
			  <div class="text-center card-body white">
			    <h5 class="card-title">Tên gói</h5>
			    <p class="card-text">Mô tả gói ....Mô tả gói ....Mô tả gói ....</p>
			  </div>
			</div>
		</div>
		</a>
      </div>
    </div>
  </div>
  </section>
  <section layout:fragment="script">
  
  
  
  </section>
</body>
</html>